@import url("./common.css");

body {
	max-width: 1000px;
}

.description {
	margin-bottom: 30px;
	text-align: center;
}

.result-item {
	border: 2px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 20px;
	margin-bottom: 20px;
	transition: var(--transition);
}

.result-item:hover {
	border: 2px dashed var(--primary-color);
}

.sentence {
	line-height: 1.5;
	font-size: 20px;
	margin-bottom: 20px;
	color: var(--text-primary-color);
	padding: 15px;
	background-color: var(--primary-bg-color);
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.translation {
	line-height: 1.5;
	font-size: 16px;
	color: var(--text-secondary-color);
	margin-bottom: 20px;
	padding: 15px;
	background-color: var(--item-bg-color);
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.blurry {
	filter: blur(10px);
}

.blurry:hover {
	filter: blur(0);
}

.audio-player {
	width: 100%;
}

.audio-player::-webkit-media-controls-panel {
	background-color: var(--container-bg-color);
}

.user-input {
	display: none;
	width: 100%;
	font-family: var(--mono-font);
	font-size: 16px;
	color: var(--text-primary-color);
	padding: 15px;
	margin-bottom: 20px;
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
	outline-color: var(--primary-color);
	box-sizing: border-box;
	transition: var(--transition);
}

.btn-group {
	margin-top: 30px;
}

.export-btn {
	color: var(--primary-color);
	padding: 5px 10px;
	border: 2px solid var(--primary-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	font-size: 16px;
	transition: var(--transition);
}

.tools-group {
	margin: 20px auto;
}

@media (max-width: 768px) {
	.sentence {
		font-size: 18px;
	}

	.result-item {
		padding: 10px;
		margin-bottom: 15px;
	}

	.sentence {
		margin-bottom: 10px;
	}
	.translation {
		margin-bottom: 10px;
	}
	.user-input {
		margin-bottom: 10px;
	}
}
