<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>听句 TingJu - 英语听说学习工具</title>
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/results.css">
</head>

<body>
    <div class="container">
        <h1><a href="https://github.com/Pi3-l22/TingJu" target="_blank">听句 TingJu</a></h1>

        <div class="tools-group">
            <div class="theme-selector-container">
                <button class="theme-btn tool-btn">🎨主题</button>
                <div class="theme-selector-dropdown">
                    <div class="theme-option" id="default">默认</div>
                    <div class="theme-option" id="dark">深紫</div>
                    <div class="theme-option" id="pink">粉白</div>
                    <!-- 可以添加更多主题选项 -->
                </div>
            </div>
        </div>

        {% for item in results %}
        <div class="result-item">
            <div class="sentence"><strong>{{ loop.index }}. </strong> {{ item.sentence }}</div>
            <div class="translation">{{ item.translation }}</div>
            <input class="user-input" type="text" placeholder="播放音频，听写句子...">
            <div class=" audio-controls">
                <audio controls class="audio-player">
                    <source src="./{{ item.audio_path }}" type="audio/mpeg">
                    <span class="warning">您的浏览器不支持音频播放，换一个浏览器试试</span>
                </audio>
            </div>
        </div>
        {% endfor %}

        <div class="btn-group">
            <button class="btn btn-secondary clear-btn" style="display: none;">🔁清空重听</button>
            <button class="btn dictation-btn">✒️听写模式</button>
            <button class="btn read-btn" style="display: none;">📖听读模式</button>
        </div>
    </div>

    <script src="./js/results.js"></script>
</body>

</html>